<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.olive.mvc.mapper.FaqMapper">

	<select id="selectAll" resultType="faq">
	select * from faq
	</select>
	
	<select id="searchFaq" resultType="faq">
	select * from faq where faq_title like '%#{inqTitNm}%'
or faq_question like '%#{inqTitNm}%'
or faq_answer like '%#{inqTitNm}%'
	</select>
	
</mapper>