<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.olive.mvc.mapper.NoticeMapper">

<resultMap id="FileResult" type="ofile">
	<result property="fileName" column="file_name"/>
	<association property="noticeNum" column="notice_num" javaType="notice" resultMap="noticeResult"></association>
	</resultMap>
	
	<resultMap id="noticeResult" type="notice">
	<id property="noticeNum" column="notice_num"/>
	</resultMap>

	<select id="selectAll" resultType="notice">
	select * from notice order by notice_num desc
	</select>
	
	<select id="selectId" resultType="notice">
	select * from notice where notice_num = #{noticeNum}
	</select>
	
	<select id="getNoticeFile" resultMap="FileResult">
	select o.file_name, n.notice_num from olivefile o, notice n 
	where n.notice_num = o.notice_num and o.notice_num = #{noticeNum};
	</select>
	
	<insert id="saveNotice">
	insert into notice(notice_title,notice_content)
   values(#{noticeTitle}, #{noticeContent})
	</insert>
	
	<insert id="saveNoticeFile">
        INSERT INTO olivefile (
            file_name
            , notice_num
        ) VALUES (
            #{savedFilePath}
            , LAST_INSERT_ID()
        )
    </insert>
    
    <insert id="addNoticeFile">
        INSERT INTO olivefile (
            file_name
            , notice_num
        ) VALUES (
            #{fileName}
            , #{noticeNum.noticeNum}
        )
    </insert>
    
    
	
	<update id="updateview">
		update notice set view_count = view_count + 1 where notice_num = #{noticeNum}
	</update>
	
	<update id="modifyNotice">
		update notice set notice_title = #{noticeTitle}, notice_content = #{noticeContent} where notice_num = #{noticeNum}
	</update>
	
	<delete id="removeNotice">
		delete from notice where notice_num = #{noticeNum}
	</delete>
	
	<delete id="deleteFile">
		delete from olivefile where file_name = #{fileName}
	</delete>
</mapper>