<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.olive.mvc.mapper.NoticeRepository">

	<select id="selectAll" resultType="notice">
	select * from notice order by notice_num desc
	</select>
	
	<select id="selectId" resultType="notice">
	select * from notice where notice_num = #{noticeNum}
	</select>
	
	<select id="getNoticeFile" resultType="nfile">
	select file_name from notice_file where notice_num = #{noticeNum};
	</select>
	
	<insert id="saveNotice">
	insert into notice(notice_title,notice_content)
   values(#{noticeTitle}, #{noticeContent})
	</insert>
	
	<insert id="saveNoticeFile">
        INSERT INTO notice_file (
            file_name
            , notice_num
        ) VALUES (
            #{savedFilePath}
            , LAST_INSERT_ID()
        )
    </insert>
	
	<update id="updateview">
		update notice set view_count = view_count + 1 where notice_num = #{noticeNum}
	</update>
	
	<update id="modifyNotice">
		update notice set notice_title = #{noticeTitle}, notice_content = #{noticeContent} where notice_num = #{noticeNum}
	</update>
	
	<delete id="removeNotice">
		delete from notice where notice_num = #{noticeNum}
	</delete>
</mapper>