<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜케이스 적용 -->
	</settings>

	<typeAliases>
		<typeAlias type="www.olive.mvc.member.dto.MemberEntity" alias="member"/> <!-- DTO클래스 alias 등록 -->
		<typeAlias type="www.olive.mvc.customerCenter.dto.Notice" alias="notice"/> <!-- DTO클래스 alias 등록 -->
		<typeAlias type="www.olive.mvc.customerCenter.dto.Faq" alias="faq"/> <!-- DTO클래스 alias 등록 -->
		<typeAlias type="www.olive.mvc.customerCenter.dto.QuestionBoard" alias="quest"/> <!-- DTO클래스 alias 등록 -->
		<typeAlias type="www.olive.mvc.customerCenter.dto.AnswerBoard" alias="answer"/> <!-- DTO클래스 alias 등록 -->
		
		
		<!-- Product dto alias -->
		<typeAlias type="www.olive.mvc.product.dto.Product" alias="product"/> 
		<typeAlias type="www.olive.mvc.product.dto.Brand" alias="brand"/> 
		<typeAlias type="www.olive.mvc.product.dto.MainCategory" alias="mainCategory"/> 
		<typeAlias type="www.olive.mvc.product.dto.SubCategory" alias="subCategory"/> 
		<typeAlias type="www.olive.mvc.product.dto.ProductQna" alias="productQna"/> 
		<typeAlias type="www.olive.mvc.product.dto.Color" alias="color"/> 
		<typeAlias type="www.olive.mvc.product.dto.Review" alias="review"/> 
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/membermapper.xml" /> <!-- 매퍼 등록 -->
		<mapper resource="mapper/noticemapper.xml" /> <!-- 매퍼 등록 -->
		<mapper resource="mapper/faqmapper.xml" /> <!-- 매퍼 등록 -->
		<mapper resource="mapper/questionmapper.xml" /> <!-- 매퍼 등록 -->
		
		<!-- productmapper -->
		<mapper resource="mapper/product/productmapper.xml" /> 
		<mapper resource="mapper/product/sellermapper.xml" /> 
	</mappers>
</configuration>