<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.olive.mvc.mapper.cart.CartMapper">

	<!-- 장바구니 보기 -->
	<select id="selectCartList" resultType="cart">
		select p.product_name,
		c.cart_id, c.product_id,
		p.product_price, p.product_info,
		c.total_product_count,
		c.total_product_price,
		b.brand_name, m.member_num
		from product p, cart c, member m, brand b
		where
		p.product_id = c.product_id
		and
		b.brand_num = p.brand_num
		and
		m.member_num = c.member_num
		and
		c.member_num = #{memberNum} order by
		cart_id desc
	</select>

	<!-- 장바구니 담기 -->
	<insert id="insertInCart">
		insert into cart (member_num, product_id,
		total_product_count)
		values(#{memberNum},#{productId},#{totalProductCount})
	</insert>

	<!-- 장바구니에서 삭제~ -->
	<delete id="deleteProductInCart">
		delete from cart where cart_id = #{cartId}
	</delete>

	<!-- 장바구니 수량변경 -->
	<update id="modifyQuantity">

		update cart set total_product_count =
		#{totalProductCount}
		where cart_id = #{cartId};
	</update>

</mapper>
  
  
  
  