@charset "utf-8";

/* 여백 */
.mgzero {margin:0 !important;}
.mgTz {margin-top:0 !important;}
.mgBz {margin-bottom:0 !important;}
.mgRz {margin-right:0 !important;}
.mgLz {margin-left:0 !important;}
.mgT5 {margin-top:5px !important;}
.mgT6 {margin-top:6px !important;}
.mgT7 {margin-top:7px !important;}
.mgT8 {margin-top:8px !important;}
.mgT10 {margin-top:10px !important;}
.mgT12 {margin-top:12px !important;}
.mgT15 {margin-top:15px !important;}
.mgT20 {margin-top:20px !important;}
.mgT25 {margin-top:25px !important;}
.mgT30 {margin-top:30px !important;}
.mgT35 {margin-top:35px !important;}
.mgT40 {margin-top:40px !important;}
.mgT45 {margin-top:45px !important;}
.mgT50 {margin-top:50px !important;}
.mgT60 {margin-top:60px !important;}
.mgT100 {margin-top:100px !important;}
.mgL10 {margin-left:10px !important;}
.mgL15 {margin-left:15px !important;}
.mgL20 {margin-left:20px !important;}
.mgL30 {margin-left:30px !important;}
.mgL100 {margin-left:100px !important;}
.mgR20 {margin-right:20px !important;}
.mgR25 {margin-right:25px !important;}
.mb10{margin-bottom:10px !important;}
.pdzero {padding:0 !important;}
.pdTz {padding-top:0 !important;}
.pdT5 {padding-top:5px !important;}
.pdT10 {padding-top:10px !important;}
.pdT12 {padding-top:12px !important;}
.pdT15 {padding-top:15px !important;}
.pdT20 {padding-top:20px !important;}
.pdT25 {padding-top:25px !important;}
.pdT30 {padding-top:30px !important;}
.pdT35 {padding-top:35px !important;}
.pdT40 {padding-top:40px !important;}
.pdT45 {padding-top:45px !important;}
.pdT50 {padding-top:50px !important;}
.pdT60 {padding-top:60px !important;}

.pdB10 {padding-bottom:10px !important;}
.pdB20 {padding-bottom:20px !important;}
.pdB30 {padding-bottom:30px !important;}
.pdL50{padding-left:50px !important}
.pdL60{padding-left:60px !important}
.pdL8{padding-left:8px !important}
.w650{width:650px}
.w480{width:480px}
.w500{width:500px}
.w550{width:550px}
.w340{width:340px}
.w160{width:160px}
.fs11{font-size:11px !important}
.fs12{font-size:12px !important}
/* form*/
input {
	width:100%;
	height:38px;
	margin:0;
	padding:0;
	border:1px solid #d0d0d0;
	color:#888;
	background:none;
	border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	letter-spacing:0.5px;
	vertical-align:top;
}
input[type="text"],
input[type="password"],
input[type="tel"] {
	padding:0 10px;
	background-color:#fff;
	font-size:14px;
	line-height:20px;
	color:#888;
}

input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear,
input[type="tel"]::-ms-clear {
	display:none
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus{
	color:#333;
	outline:0;
}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="tel"]:focus-visible,
textarea:focus-visible,
select:focus-visible{
	color:#333;
	border:1px solid #9bce26;
}
input[type="submit"],
button {border:0;padding:0;box-shadow:none;cursor:pointer;}
textarea {
	border:1px solid #ccc;
	padding:10px 8px;
	border-radius:5px;
	resize:none;
	font-size:14px;
	line-height:20px;
	box-shadow:none;
	box-sizing:border-box;
	-webkit-appearance:none;
}
::-webkit-input-placeholder{font-family:'Montserrat', -apple-system, 'NotoSansCJKkr', 'AppleSDGothicNeo', 'Roboto','dotum', '돋움', sans-serif;}
:-moz-placeholder{font-family:'Montserrat', -apple-system, 'NotoSansCJKkr', 'AppleSDGothicNeo', 'Roboto','dotum', '돋움', sans-serif;}
::-moz-placeholder{font-family:'Montserrat', -apple-system, 'NotoSansCJKkr', 'AppleSDGothicNeo', 'Roboto','dotum', '돋움', sans-serif;}
:-ms-input-placeholder{font-family:'Montserrat', -apple-system, 'NotoSansCJKkr', 'AppleSDGothicNeo', 'Roboto','dotum', '돋움', sans-serif;}
::placeholder{font-family:'Montserrat', -apple-system, 'NotoSansCJKkr', 'AppleSDGothicNeo', 'Roboto','dotum', '돋움', sans-serif;}
select {
	width:100%;
	height:38px;
	padding:0 0 0 8px;
	border:1px solid #d0d0d0;
	border-radius:5px;
	font-size:14px;
	line-height:18px;
	color:#333;
}

input.inpH28 {height:28px;padding:0 10px;font-size:12px;border-color:#ccc;color:#333}
select.selH28 {height:28px;padding:0 0 0 5px;font-size:12px;border-color:#ccc}
input.inpH28:focus,
select.selH28:focus {border-color:#9bce26}

select:disabled,
input:disabled,
input:read-only {background-color:#f8f8f8;color:#888;}

/* 체크박스,라디오  */
input[type="checkbox"],
input[type="radio"] {
	width:20px;
	height:20px;
	border:0 !important;
	padding:0;
	font-size:0;
	line-height:0;
	margin-right:8px;
	vertical-align:top;
	cursor:pointer;
	appearance:none;
	-webkit-appearance:none;
}
input[type="checkbox"] { /* 체크박스 기본 */
	background:url(../image/comm/icon_chk_radio.png) no-repeat 0 0;
}
input[type="checkbox"]:checked {/* 체크박스 체크되었을 때 */
	background:url(../image/comm/icon_chk_radio.png) no-repeat -20px 0;
}
input[type="checkbox"]:disabled,/* 체크박스 비활성화 일 때 */
input[type="checkbox"]:read-only {background:url(../image/comm/icon_chk_radio.png) no-repeat -20px -20px;}
input[type="checkbox"]:checked:disabled,/* 체크박스 체크된 상태로 비활성화 일 때 */
input[type="checkbox"]:checked:read-only {background:url(../image/comm/icon_chk_radio.png) no-repeat 0 -20px;}

input[type="radio"] { /* 라디오 기본 */
	border-radius:20px;
	background:url(../image/comm/icon_chk_radio.png) no-repeat 0 -40px;
}
input[type="radio"]:checked { /* 라디오 체크되었을 때 */
	background:url(../image/comm/icon_chk_radio.png) no-repeat -20px -40px;
}
input[type="radio"]:disabled,/* 라디오 비활성화 일 때 */
input[type="radio"]:read-only {	background:url(../image/comm/icon_chk_radio.png) no-repeat -20px -60px;}

input[type="radio"]:checked:disabled,/* 라디오 체크된 상태로 비활성화 일 때 */
input[type="radio"]:checked:read-only {background:url(../image/comm/icon_chk_radio.png) no-repeat 0 -60px;}

input[type="checkbox"]:checked + label {color:#333;}
input[type="radio"]:checked + label {color:#333;}

input.input-radio {width:13px;height:13px;margin:2px 2px 0 0;appearance:radio !important;-moz-appearance:radio !important;-webkit-appearance:radio !important;border:1px solid #b8b8b8 !important;vertical-align:middle;}
input.input-check {width:13px;height:13px;margin:2px 2px 0 0;appearance:checkbox;-moz-appearance:checkbox;-webkit-appearance:checkbox;border:1px solid #b8b8b8 !important;vertical-align:middle;}

input[type="checkbox"].chk18{width:18px;height:18px;border:0;border-radius:0;background:url(../image/comm/check_36_off.png) no-repeat 0 0;background-size:18px auto;}
input[type="checkbox"].chk18:checked {background:url(../image/comm/check_36_on.png) no-repeat 0 0;background-size:18px auto;}
input[type="checkbox"].chk18:disabled,
input[type="checkbox"].chk18:read-only {background-color:#f6f6f6;}
input[type="checkbox"].chk18+label{line-height:18px;}



.ir{overflow:hidden;display:block;position:absolute;width:0;height:0;font-size:0;line-height:0;color:transparent;text-indent:-99999px;}

/* 버튼 리셋 */
button {text-align:center;color:#fff;}

.btnGreen, a.btnGreen {width:100%;height:50px;background-color:#9bce26;padding:11px 0 9px;font-size:18px;line-height:30px;border-radius:5px}
.btnGreen2, a.btnGreen2 {width:100%;height:44px;background-color:#9bce26;padding:0;font-size:18px;line-height:44px;border-radius:5px} /* BI개편_leejeongmi */
.btnGreen3, a.btnGreen3 {width:100%;height:50px;background-color:#9bce26;padding:11px 0 9px;font-size:18px;line-height:30px;}
.btnGray, a.btnGray {width:100%;height:50px;background-color:#888;padding:11px 0 9px;font-size:18px;line-height:30px;border-radius:5px}
.btnGray2, a.btnGray2 {width:100%;height:50px;background-color:#999;padding:11px 0 9px;font-size:18px;line-height:30px;border-radius:5px}
.btnLgray {display:block;width:88px;padding:7px 0;border:1px solid #ddd;border-radius:5px;background-color:#f6f6f6;font-size:14px;line-height:20px;color:#9bce26;text-align:center;border-radius:5px}
.btnGreenW, a.btnGreenW {width:100%;height:50px;background-color:#fff;border:1px solid #9bce26;padding:11px 0 9px;font-size:16px;line-height:28px;color:#9bce26;border-radius:5px}
.ButtonDelete {width:19px;height:19px;background:url(../image/comm/ico_delete19x19.png) no-repeat 0 0;font-size:0;text-indent:-99999px;line-height:0;}
.input-delete {position:relative;height:38px;}
.input-delete .ButtonDelete {position:absolute;top:9px;right:15px;}

.btnMedium {height:38px;padding:0 10px;font-size:14px !important;line-height:38px;border-radius:5px}
.btnSmall {height:28px;padding:0 5px;font-size:12px !important;line-height:28px;border-radius:5px}

.btnOrange, a.btnOrange {width:100%;height:50px;background-color:#f27370;padding:11px 0 9px;font-size:18px;line-height:30px;border-radius:5px}
.btnOrangeW, a.btnOrangeW {width:100%;height:50px;background-color:#fff;border:1px solid #f27370;padding:11px 0 9px;font-size:16px;line-height:28px;color:#f27370;border-radius:5px}

.btnMedium.wGray,
.btnSmall.wGray {border:1px solid #aaa;color:#666;background:#fff}
.btnMedium.wGreen,
.btnSmall.wGreen {border:1px solid #9bce26;color:#9bce26;background:#fff}
.btnMedium.wMint,
.btnSmall.wMint {border:1px solid #00c4b5;color:#00c4b5;background:#fff}
.btnMedium.fullGreen,
.btnMedium.fullGreen2,
.btnSmall.fullGreen,
.btnSmall.fullGreen2 {background:#9bce26;color:#fff}
.btnMedium.fullGray,
.btnSmall.fullGray {background:#ccc;color:#fff}
.btnMedium.fullDgray,
.btnSmall.fullDgray {background:#999;color:#fff}
.btnMedium.fullOrange,
.btnSmall.fullOrange {background:#f27370;color:#fff}
.btnMedium > span {display:inline-block;min-width:80px}
.btnSmall > span {display:inline-block;min-width:40px}
.btnSmall.type2 {padding:0 15px}
.btnSmall.wGray2 {border:1px solid #aaa;color:#fff;background:#aaa}
.btnSmall.wGray3 {border:1px solid #a4abb9;color:#fff;background:#a4abb9}
.btnSmall.wGray4 {border:1px solid #999;color:#999;background:#fff}
.btnSmall.wGray3cancle {border:1px solid #a4abb9;color:#7c8598;background:#fff}
.btnSmall.wOrange {border:1px solid #f27370;color:#fff !important;background:#f27370}
.btnGift{color:#222;font-size:14px;background:none;}
.btnGift:after{content:'';display:inline-block;width:18px;height:18px;background:url(../image/project/icon_01.png) no-repeat;margin:0 0 3px 4px;vertical-align:middle;}
.btnBlackLineH40{padding:0 15px;background-color:#fff;border:1px solid #000;color:#000;line-height:38px;}
.btnBlackLineH60{padding:0 15px;background-color:#fff;border:1px solid #000;color:#000;line-height:38px;}

.btnMedium.w210 {width:210px}
.btnMedium.w120 {width:120px}
.w130 {width:130px !important}
.w150 {width:150px}
.w180 {width:180px}
.btnMedium.w100 {width:100px}
.btnSmall.w80 {width:80px;padding:0;}
.btnSmall.w100 {width:100px !important}
.btnw140{width:140px;}
.btnw165{width:165px;}
.wp30{padding:0 30px;}

.btnOnLayer {width:170px;height:60px;font-size:16px;border-radius:5px;}
.btnOnLayer.fullGreen,
.btnOnLayer.fullGreen2 {background:#9bce26;color:#fff}
.btnOnLayer.wGreen {background:#fff;border:1px solid #9bce26;color:#9bce26}

.btnLwhite {display:inline-block;height:40px;border:2px solid #fff;padding:8px 28px;border-radius:20px;background-color:transparent;font-size:14px;font-weight:bold;text-align:center;color:#fff}
.btnLwhite::after {content:'';display:inline-block;width:8px;height:13px;padding-left:10px;background:url(../image/comm/ico_arrow8x13_wt.png) no-repeat right 0;vertical-align:-1px}
.btnLwhite:focus {border:2px solid #fff;}

/* 버튼 영역 */
.area1sButton {padding:10px 0 0;text-align:center;}
.area2sButton {padding:20px 0 0;text-align:center;}
.area3sButton {margin:20px 0 0;padding:30px 0 0;border-top:1px solid #e6e6e6;text-align:center;}
.area1sButton a.btnGray, .area1sButton a.btnGray2, .area1sButton a.btnGreenW, .area1sButton a.btnGreen, .area1sButton a.btnGreen3 {display:inline-block;width:150px;margin:0 2px;box-sizing:border-box;}
.area2sButton .btnGray, .area2sButton .btnGray2, .area2sButton .btnGreenW, .area2sButton .btnGreen,
.area2sButton a.btnGray, .area2sButton a.btnGray2, .area2sButton a.btnGreenW, .area2sButton a.btnGreen {display:inline-block;width:100px;margin:0 2px;box-sizing:border-box;height:38px;font-size:14px;}
.area3sButton .btnGray, .area3sButton .btnGray2, .area3sButton .btnGreenW, .area3sButton .btnGreen,
.area3sButton a.btnGray, .area3sButton a.btnGray2, .area3sButton a.btnGreenW, .area3sButton a.btnGreen {display:inline-block;width:100px;margin:0 2px;box-sizing:border-box;height:38px;font-size:14px;}
.area1sButton a.btnGreen, .area1sButton a.btnGreen3, .area1sButton a.btnGray, .area1sButton a.btnGray2, .area2sButton a.btnGreen, .area2sButton a.btnGray, .area2sButton a.btnGray2, .area3sButton a.btnGreen, .area3sButton a.btnGray, .area3sButton a.btnGray2 {color:#fff;font-weight:700}
.area1sButton a {padding:9px 0 0;}
.area2sButton a, .area3sButton a {padding:3px 0 0 !important;}
.area1sButton button, .area2sButton button, .area3sButton button {margin:0 2px;padding:2px 0 0 !important;}
.ButtonBasic,
.ButtonBasic:hover,
.ButtonBasic:active{display:inline-block;min-width:50px;height:28px;padding:0 10px;border-radius:5px;border:1px solid #888;background:#fff;color:#666;font-size:12px;}
.area1sButton .btnGreen.w160 {width:160px;height:40px;padding:5px 0 0;font-size:16px;}
a.ButtonBasic {line-height:27px}
a.w150, button.w150 {width:150px !important;}
.ButtonBasic.w106 {width:106px !important;padding:0}
.ButtonBasic.w140 {width:140px !important;}
td.select-w200 select {width:200px !important;}
.lay_delivery .board-list-2s tr td a.ButtonBasic:hover{border:1px solid #babc00 !important;color:#babc00;}
.scroll-area.type .btn_area{padding-top:30px;text-align:center;border-top:1px solid #e6e6e6;}
.scroll-area.type .btn_area.btn2 button{margin:0 2px;}
.scroll-area.type2 {padding-left:10px;}
.btngray{height:60px;line-height:60px;background-color:#bbb;font-size:18px;color:#fff;font-weight:bold;}
.btngline{height:60px;line-height:60px;background-color:#fff;border:1px solid #999;font-size:18px;color:#999;font-weight:bold;}
.btngline2{height:40px;line-height:36px;background-color:#fff;border:2px solid #cdcdcd;font-size:14px;color:#777;font-weight:bold;}
.btnMint{height:60px;line-height:60px;background-color:#00c4b5;font-size:18px;color:#fff;font-weight:bold;}
.btnGreen4{height:60px;line-height:60px;background-color:#9bce26;font-size:18px;color:#fff;font-weight:bold;}
.btnMint_s{height:30px;line-height:30px;background-color:#00c4b5;font-size:12px;color:#fff;font-weight:bold;border-radius:5px;padding:0 13px;}
.btnMints{display:inline-block;min-width:50px;height:28px;padding:0 10px;border-radius:5px;border:1px solid #00c4b5;background:#fff;color:#00c4b5;font-size:12px;}
.btnGraySmall{display:inline-block;min-width:50px;height:28px;padding:0 10px;border-radius:5px;border:1px solid #555;background:#fff;color:#555;font-size:12px;}
.btnGrayH60{height:60px;line-height:60px;background-color:#bcbe00;font-size:18px;color:#fff;font-weight:bold;}
.btn_img{height:40px;line-height:40px;padding:0 15px 0 40px;background:#00c4b5 url(../image/comm/icon_img.png) no-repeat 14px 9px;font-size:12px;border-radius:5px;}
.btngline2 .vam{vertical-align:middle;margin:-3px 0 0 6px;}
.area2sButton .btnGreen.btnpd38{width:auto;height:38px;line-height:38px;padding:0 38px !important;}
.area2sButton .btnG01, .area2sButton .btnlG01{padding:0 !important;}
.btnlG01{display:inline-block;height:40px;line-height:38px;margin:0;font-size:12px;color:#9bce26;font-weight:700;border-radius:2px;border:solid 1px #9bce26;background-color:#fff;}
.btnG01{display:inline-block;height:40px;line-height:40px;margin:0;font-size:12px;color:#fff;font-weight:700;border-radius:2px;background-color:#9bce26;}
.btnGreen45, a.btnGreen45 {width:100%;display:inline-block;height:45px;background-color:#9bce26;padding:0;font-size:18px;line-height:45px;border-radius:5px;color:#fff;font-weight:700;}
/* 텍스트 */
.common1s-text {margin:0;padding:58px 0 0;color:#333;font-size:18px;text-align:center;line-height:22px;}
.common2s-text {margin:0;padding:30px 0 0;color:#333;font-size:16px;text-align:center;line-height:22px;}
.common3s-text {margin:0;padding:25px 0 0;color:#666;font-size:14px;line-height:20px;}
.common4s-text {margin:0;padding:15px 0 0;color:#333;font-size:14px;line-height:20px;}
.common5s-text {margin:16px 0 0;padding:0 0 0 6px;padding:0 0 0 6px;background:url(../image/comm/bar_black1x1.gif) no-repeat 0 9px;background-size:2px 1px;color:#333;font-size:12px;line-height:16px;}
.common1s-list {}
.common1s-list .tit {margin:23px 0 0;color:#333;font-size:16px;line-height:22px;}
.common1s-list ul {width:100%;padding:4px 0 0;}
.common1s-list ul li {margin:4px 0 0;padding:0 0 0 6px;background:url(../image/comm/bar_black2x2.gif) no-repeat 0 9px;background-size:2px 1px;color:#666;font-size:12px;line-height:20px;}
.scroll-area {overflow-y:auto;min-height:150px;max-height:500px;margin:20px 0 0;}
.scroll-area table {margin-top:0;}
.fwb{font-weight:bold;}

/* 타이틀 박스 */
.titBox {padding:25px 0;}
.titBox.line {padding:14px 0 15px;border-bottom:1px solid #e6e6e6;} /* 밑라인 */
.titBox h1 {font-size:30px;line-height:30px;color:#000;}
.titBox h1.tit{padding-left:20px;}
.titBox p {margin:10px 0 0;font-size:16px;line-height:26px;color:#666;}

/* TAB */
.TabsConts {display:none;}
.TabsConts.on {display:block;}
.comm1sTabs {overflow:hidden;width:100%;margin:15px 0 0;}
.comm1sTabs.threeSet li {width:33.5%;}
.comm1sTabs.threeSet li:first-child {width:33%;}
.comm1sTabs > li {float:left;width:50%;border-left:1px solid #e3e3e3;border-bottom:2px solid #9bce26;text-align:center;background:#f6f6f6}
.comm1sTabs > li:first-child {border-left:0}
.comm1sTabs > li > a {display:block;height:50px;padding-top:15px;color:#333;font-size:18px}
.comm1sTabs > li.on {border-left:2px solid #9bce26;border-top:2px solid #9bce26;border-right:2px solid #9bce26;border-bottom:0;background:#fff}
.comm1sTabs > li.on > a {padding-top:13px}
.comm1sTabs > li.on+li {border-left:0}

.comm2sTabs {overflow:hidden;width:100%;margin-top:30px;}
.comm2sTabs > li {float:left;width:50%;height:40px;margin:0 0 0 -1px;background:#fff;box-sizing:border-box;border:1px solid #ddd;}
.comm2sTabs > li:first-child {margin:0;}
.comm2sTabs > li > button {width:100%;height:38px;color:#666;background:#fff;box-sizing:border-box;font-size:14px;line-height:18px;}
.comm2sTabs > li.on {border:2px solid #9bce26;background:#9bce26;}
.comm2sTabs > li.on > button {height:36px;background:#9bce26;color:#fff;}
.comm2sTabs.fourSet > li {width:255px}
.comm2sTabs.fiveSet > li {width:205px}
.comm2sTabs.fiveSet > li:first-child {width:204px}
.comm2sTabs.sevenSet > li {width:14.5%;}
.comm2sTabs.sevenSet > li:first-child {width:14%;margin:0;}
.comm2sTabs.sevenSet > li:last-child {width:13.5%;}

.comm3sTabs {}
.comm3sTabs:after {content:'';display:block;clear:both}
.comm3sTabs > li {float:left;margin-left:-1px;border:1px solid #ddd}
.comm3sTabs > li:first-child {margin:0}
.comm3sTabs > li > a {display:block;height:52px;line-height:52px;color:#888;font-size:16px;text-align:center;background:#fff}
.comm3sTabs > li.on > a {position:relative;color:#9bce26;height:54px;line-height:52px;border:2px solid #9bce26;margin:-1px;z-index:0;font-weight:700}
.comm3sTabs.sixSet > li {width:171px}
.comm3sTabs.sixSet > li:first-child {width:170px}

.comm4sTabs {overflow:hidden;width:100%;margin-top:35px;}
.comm4sTabs > li {float:left;width:50%;height:40px;background:#e6e6e6;box-sizing:border-box;color:#fff;}
.comm4sTabs > li:first-child {margin:0;}
.comm4sTabs > li > button {width:100%;height:38px;color:#666;background:#e6e6e6;box-sizing:border-box;font-size:14px;line-height:18px;color:#666;}
.comm4sTabs > li.on {border:2px solid #9bce26;background:#9bce26;}
.comm4sTabs > li.on > button {height:36px;background:#9bce26;color:#fff;}

.comm5sTabs {overflow:hidden;width:1020px;margin:30px auto 0;padding-bottom:5px}
.comm5sTabs li {position:relative;float:left;width:50%;}
.comm5sTabs li button {width:100%;height:50px;background:#f6f6f6;color:#666;font-size:18px;line-height:24px;font-weight:400}
.comm5sTabs li.on button {color:#fff;background:#555 !important}
.comm5sTabs li.on:before {position:absolute;content:'';bottom:-5px;left:50%;width:12px;height:5px;margin-left:-6px;background:url(../image/comm/bg_tab_arrow.png) no-repeat 0 0}
.comm5sTabs.tab3 li{width:340px;}
.comm5sTabs.tab3 li button{border-left:1px solid #e6e6e6}
.comm5sTabs.tab3 li:first-of-type{border-left:0;}
.comm5sTabs.tab3 li +li{width:341px;margin-left:-1px;}
.comm6sTabs {overflow:hidden;width:100%;padding:10px 0 0;}
.comm6sTabs li {float:left;width:50%;font-size:0;line-height:0;}
.comm6sTabs li a {display:block;width:100%;height:40px;padding:10px 0 0;background:#d0d0d0;color:#fff;font-size:14px;text-align:center;line-height:20px;}
.comm6sTabs li.on a {background:#9bce26;}

.tabConts {display:none}
.tabConts.show {display:block}

/* 공통 플루트 박스 */
.area-over {overflow:hidden;position:relative;width:100%;}
.area-over .left, .area-over .right {width:380px;}
.area-over .left {float:left;}
.area-over .right {float:right;}

/* 레이어 pop */
.popLayerWrap {display:none;position:fixed;top:0;left:0;width:100%;border-radius:5px;border:2px solid #d0d0d0;z-index:20;}
.popLayerWrap .popLayerArea {overflow:hidden;padding:0 30px;background-color:#fff;}
.popLayerWrap .popLayerArea .popHeader {position:relative;padding:24px 0 18px;border-bottom:2px solid #878787;}
.popLayerWrap.nob{border:0;}
.popLayerWrap.nob .popLayerArea{border-radius:5px;}
.popLayerArea .popHeader h1 {font-size:24px;line-height:30px;color:#4c4c4c;}
.popLayerArea .popHeader .btnClose {position:absolute;top:25px;right:0;width:21px;height:21px;background:url(../image/comm/btn_pop_close.png) no-repeat 0 0;text-indent:-9999px;}
.popLayerArea .popContainer {height:100%;padding:20px 0;}/* 임시 지정, 각 해당 컨텐츠에서 여백 + */
.popLayerArea .popContainer .popCont .btnArea.twoSet {overflow:hidden;text-align:center;}
.popLayerArea .popContainer .popCont .btnArea.twoSet button {display:inline-block;width:auto;text-align:center;font-size:16px}
.dim {display:none;position: fixed;top: 0;right: 0;width: 100%;height: 100%;background:url(../image/comm/bg_dim.png) repeat 100% 100%;content: '';opacity: 1;z-index:10;}

/* oy 레이어 S */
.oyDimmed{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:1}
.oyDimmed .btnLayClose{position:fixed;right:0;bottom:0;font-size:0;background:none;}
.oyDimmed .btnLayClose:focus{padding:10px 15px;font-size:14px;}
.oyLayerWrap{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:500;}
.oyLayerWrap .oyLayerContainer{position:absolute;top:50%;left:50%;padding:30px;background-color:#fff;border-radius:5px;z-index:5}
.oyLayerWrap .oyLayerContainer .oyHead{position:relative;height:45px;padding:0 0 15px;border-bottom: 2px solid #000;}
.oyLayerWrap .oyLayerContainer .oyHead .tit{padding-right:30px;font-size:24px;line-height:28px;color:#000;}
.oyLayerWrap .oyLayerContainer .oyHead .btnClose{position:absolute;top:0;right:0;width:23px;height:23px;background:url(../image/comm/ico_close23x23.png) no-repeat 0 0;text-indent:-9999px;}
/* oy 레이어 E */


/* 비밀번호 변경안내 팝업 */
.popLayerWrap.wid484 {width:484px;}
.popLayerArea .popContainer .popCont .pwChange {padding:20px 0 16px;text-align:center;}
.popLayerArea .popContainer .popCont .pwChange h2 {padding-top:150px;background:url(../image/login/icon_pw_change.png) no-repeat 50% 0;font-size:24px;line-height:32px;color:#9bce26;}
.popLayerArea .popContainer .popCont .pwChange p {margin-top:12px;font-size:14px;line-height:20px;color:#333;}
.popLayerArea .popContainer .popCont .pwChange h2+p{margin-top:22px;}
.popLayerArea .popContainer .popCont .pwChange .btnArea.twoSet {margin-top:56px;}
.popLayerArea .popContainer .popCont .pwChange .btnArea.twoSet button:first-child {width:100px;margin-left:0;}
.popLayerArea .popContainer .popCont .pwChange .btnArea.twoSet button {width:150px;height:40px;line-height:20px;margin-left:10px;}

/* 플래그 */
#Wrapper .FG01, #Wrapper .FG02, #Wrapper .FG03, #Wrapper .FG04 {display:inline-block;width:70px;height:20px;border-radius:10px;color:#fff;font-size:12px;text-align:center;line-height:20px}
#Wrapper .FG01 {background:#9bce26;}
#Wrapper .FG02 {background:#a68fcd;}
#Wrapper .FG03 {background:#ed95b7;}
#Wrapper .FG04 {background:#f5a031;}

.flagWrap{display:flex;align-items:center}
.getYN{font-size:12px;color:#e95294;display:flex;align-items:center}
.getYN i{margin-right:3px}
strong + .getYN{margin-left:5px}
.flagWrap .getYN{margin-bottom:5px;}


#dim {z-index:10;position:fixed;top:0;left:0;width:100%;height:100%;background:url(../image/comm/dim4x4.png) repeat 0 0;}


/* slick slider (슬라이더 관련 CSS) */
.slick-slider {position: relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list {position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list.dragging {cursor:pointer;}
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
.slick-track {position:relative;top:0;left:0;display:block;z-index:1}
.slick-track:before,
.slick-track:after {display:table;content:''}
.slick-track:after {clear:both}
.slick-loading .slick-track {visibility:hidden}
.slick-slide {display:none;float:left;height:100%;min-height:1px}
.slick-initialized .slick-slide {display:block}

.slick-arrow {display:inline-block;width:40px;height:40px;background:url(../image/comm/ico_arrow40x40_2.png) no-repeat 0 0;text-indent:-9999px}
.slick-arrow.slick-prev {background-position:0 0}
.slick-arrow.slick-prev:hover {background-position:0 -40px}
.slick-arrow.slick-next {background-position:-40px 0}
.slick-arrow.slick-next:hover {background-position:-40px -40px}


/* 숫자, 영문 폰트 공통 */
.tx_num {letter-spacing:-0.02em !important;font-weight:500}

/* 썸네일 플래그 관련 */
.thumb_flag {display:inline-block;width:48px;height:48px;font-size:14px;background:#fff;border-radius:24px;border-width:2px;border-style:solid;text-align:center;font-weight:700}
.thumb_flag.best {color:#f05a5e;line-height:44px;border-color:#f05a5e}
.thumb_flag.new {color:#10b7ae;line-height:44px;border-color:#10b7ae}

/* 상품 플래그 관련 */
.prd_flag {overflow:hidden;}
.prd_flag span {float:left;}
.status_flag {display:block;width:100%;height:40px;line-height:40px}
.status_flag.soldout {background-color:rgba(0,0,0,0.2);color:#fff}
.status_flag.soldend {background-color:rgba(0,0,0,0.6);color:#fff}
.icon_flag {display:inline-block;width:40px;height:18px;border-radius:9px;line-height:17px !important;color:#fff !important;font-size:12px !important;text-align:center;vertical-align:middle;text-decoration:none !important;margin:0 !important}
.icon_flag.sale {background-color:#f65c60}		/* 세일 */
.icon_flag.plus,
.icon_flag.present {background-color:#ff8942}   /* 1+1 & GIFT(신규) */
.icon_flag.coupon {background-color:#9bce26}	/* 쿠폰 */
.icon_flag.gift {background-color:#6fcff7}		/* 증정 */
.icon_flag.free {background-color:#ad85ed}		/* 무배 */
.icon_flag.delivery {width:60px;background-color:#f374b7}		/* 당일 배송 추가 */
.icon_flag.offlineStore{background-color: #7775de;vertical-align:top;} /* 오프라인 리뷰 */
.data dd .icon_flag.offlineStore{margin-left:10px!important;}
/* [3607020] 온라인몰 內 서비스 평가 매뉴 개발 요청 件 */
/* 매장명 */
.icon_flag.offlineStoreNew{display:inline-block; width:auto !important; max-width:90px !important; height:18px; font-size:11px !important; color:#757d86 !important; line-height:18px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background-color:#f0f1f4; border-radius:2px; padding:0 5px 0 5px; margin-bottom:10px !important;}
.data dd .icon_flag.offlineStoreNew{display:inline-block; width:auto !important; max-width:90px !important; height:18px; font-size:11px !important; color:#757d86 !important; line-height:18px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background-color:#f0f1f4; border-radius:2px; padding:0 5px 0 5px; margin-left:10px!important;}
/* 오늘드림 */
.icon_flag.deliveryNew{display:inline-block; width:auto !important; max-width:90px !important; height:18px; font-size:11px !important; color:#e95294 !important; line-height:18px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background-color:#f0f1f4; border-radius:2px; padding:0 5px 0 5px; margin-bottom:10px !important;}
.data dd .icon_flag.deliveryNew{display:inline-block; width:auto !important; max-width:90px !important; height:18px; font-size:11px !important; color:#e95294 !important; line-height:18px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background-color:#f0f1f4; border-radius:2px; padding:0 5px 0 5px; margin-left:10px!important;}
/* 선물 */
.icon_flag.giftNew{display:inline-block; width:auto !important; max-width:90px !important; height:18px; font-size:11px !important; color:#ff5753 !important; line-height:18px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background-color:#f0f1f4; border-radius:2px; padding:0 5px 0 5px; margin-bottom:10px !important;}
.data dd .icon_flag.giftNew{display:inline-block; width:auto !important; max-width:90px !important; height:18px; font-size:11px !important; color:#ff5753 !important; line-height:18px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; background-color:#f0f1f4; border-radius:2px; padding:0 5px 0 5px; margin-left:10px!important;}
/* //[3607020] 온라인몰 內 서비스 평가 매뉴 개발 요청 件 */
.board-list-2s tbody.history tr td .icon_flag.offlineStore,
.board-list-2s tbody.history tr td .icon_flag.delivery{margin-bottom:5px !important;}
div.soldend85 *{color:#cccccc !important;}/* 판매종료 mypage */
span.soldend85{position:absolute;top:55px;left:0;display:block;width:85px;height:30px;color:#fff !important;font-size:13px;line-height:30px;text-align:center;background-color:rgba(0,0,0,0.6);}/* 판매종료 mypage */


/* 숨김처리 */
.hidde {display:none !important;}
.tabInconts {display:block;}  
.hide {position:absolute;top:-99999px;left:-99999px;font-size:0;visibility:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-99999px;}
body .showConts {display:block !important;}


/* +/- 아이콘 */
.tx_sign {display:inline-block;width:10px;height:10px;background:url(../image/comm/ico_sign_cal.png) no-repeat 0 0;text-indent:-9999px;overflow:hidden;text-align:left}
.tx_sign.plus {background-position:-20px 50%}
.tx_sign.minus {background-position:0 50%}
.tx_sign.equal {background-position:-40px 50%}

.tx_sign2 {display:inline-block;width:30px;height:30px;background:url(../image/comm/ico_sign_cal2.png) no-repeat 0 0;text-indent:-9999px;overflow:hidden}
.tx_sign2.plus {background-position:-30px 0}
.tx_sign2.minus {background-position:0 0}


/* 별점 */
.review_point {display:inline-block;overflow:hidden;width:92px;height:15px;background:url(../image/comm/ico_review_point_off.png) no-repeat 0 0;text-indent:-9999px}
.review_point .point {display:inline-block;float:left;width:auto;height:15px;background:url(../image/comm/ico_review_point_on.png) no-repeat 0 0;line-height:0;}

/* 색상 */
.colorRed {color:#ff2828 !important;}
.colorOrange {color:#f27370 !important;font-weight:700}
.colorGrey {color:#888 !important;}
.colorGreen {color:#9bce26 !important;font-weight:700}
.colorBlack {color:#333 !important;}

/* 검색 */
.commonSearch {width:1020px;height:78px;margin:20px auto 0;padding:20px 0 0;background:#f6f6f6;text-align:center;}
.commonSearch .text-input {position:relative;width:510px;height:38px;margin:0 auto;text-align:left;}
.commonSearch .text-input input[type="text"] {width:510px;padding-right:47px;border-radius:20px;border:1px solid #ddd;}
.commonSearch .text-input input[type="text"]:focus {border-color:#9bce26;}
.commonSearch .text-input input[type="text"]::-webkit-input-placeholder {letter-spacing:-1px;}
.commonSearch .text-input button {position:absolute;top:2px;right:7px;width:30px;height:30px;background:transparent url(../image/comm/ico_search19x19.png) no-repeat center center;font-size:0;text-indent:-99999px;line-height:0;}
.commonSearch select {height:38px;margin:0 0 0 4px;}
.commonSearch .btnSearch {width:98px;height:38px;margin:0 0 0 4px;border-radius:5px;background:#9bce26;color:#fff;font-size:14px;line-height:20px;}
.commonSearch {}

/* FONT */
.commfont1s {color:#333;font-size:14px;line-height:16px;}

/* BORDER */
.linezero {border:0 !important;}
.lineBzero {border-bottom:0 !important;}
.lineTzero {border-top:0 !important;}
td.nodata, li.nodata {width:100% !important;padding:200px 15px 80px !important;background:url(../image/comm/ico_nodata104x104.png) no-repeat center 80px !important;color:#888 !important;font-size:16px !important;text-align:center !important;line-height:20px !important;}

/* 유의사항 */
.usage-guide {}
.usage-guide .stit {padding:25px 0 0;color:#333;font-size:14px;line-height:18px;}
.usage-guide ul {width:100%;}
.usage-guide ul li{margin:6px 0 0;padding:0 0 0 8px;background:url(../image/comm/bar_2x2.gif) no-repeat 0 7px;color:#888;font-size:12px;line-height:18px;}

/* TITLE */
.cont-title1 {width:1020px;margin:0 auto;padding:16px 0 13px;border-bottom:2px solid #666;color:#000;font-size:30px;line-height:40px;}
.cont-title2 {width:1020px;margin:0 auto;padding:30px 0 20px;border-bottom:2px solid #666;color:#9bce26;font-size:34px;line-height:40px;font-weight:400}
.cont-title3 {width:1020px;margin:0 auto;padding:28px 0 13px;color:#000;font-size:30px;line-height:40px;}
.cont-title2 .star {display:inline-block;margin:0 0 0 15px;font-size:36px;line-height:40px;}
.cont-title2 .btnStar {float:right;width:50px;height:50px;margin-top:-10px;border:1px solid #e6e6e6;background:url(../image/comm/ico_star30x30_off.png) no-repeat center 10px;}
.cont-title2 .btnStar.on {background:url(../image/comm/ico_star30x30_on.png) no-repeat center 10px;}


.sub-title1 {width:1020px;margin:0 auto;padding:25px 0 0;color:#333;font-size:20px;line-height:34px;word-spacing:-3px}
.sub-title2 {width:1020px;margin:40px auto 10px;color:#333;font-size:20px;font-weight:400}
.sub-title2 > span {color:#f47330}
.sub-title2 button.btnInfo{padding:0 27px 0 0;color:#333;font-size:20px;font-weight:400;background:url(../image/comm/icon_i_18.png) no-repeat 100% 50%;}
.sub-title2.underline {padding-bottom:10px;border-bottom:1px solid #666}
.sub-title3 {width:1020px;margin:0 auto;padding:27px 0 10px;color:#4c4c4c;font-size:18px;line-height:22px}
.sub-title4 {width:1020px;margin:0 auto;padding:27px 0 10px;color:#333;font-size:16px;line-height:22px}
.sub-title5 {width:1020px;margin:0 auto;padding:16px 0 7px;color:#4c4c4c;font-size:16px;line-height:22px}
.sub-title6 {width:1020px;margin:0 auto;padding:55px 0 0;color:#333;font-size:34px;text-align:center;line-height:40px}
.sub-title7 {width:1020px;margin:0 auto;padding:40px 0 10px;color:#9bce26;font-size:18px;text-align:center;line-height:24px;}
.sub-title8 {width:1020px;margin:0 auto;padding:60px 0 16px;border-bottom:1px solid #e5e5e5;text-align:center;color:#000;font-size:26px;line-height:36px;}
.sub-title9{font-size:16px;line-height:18px;color:#333;}
.line-title{margin:40px 0 0 0;padding:0 0 11px 0;border-bottom:2px solid #d6d6d6;}
.line-title button.btnInfo{padding:0 27px 0 0;color:#4c4c4c;font-size:18px;line-height:22px;font-weight:bold;background:url(../image/comm/icon_i_18.png) no-repeat 100% 50%;}

.sub-title1.mgT40 {padding:0}

.title-subconts {width:100%;height:100px;background:url(../image/comm/bg_subconts.gif) repeat-x 0 0;}
.title-subconts h2 {width:1020px;margin:0 auto;padding:24px 0 0;color:#fff;font-size:40px;line-height:50px;}
.title-area {overflow:hidden;position:relative;width:100%;padding:36px 0 7px;border-bottom:1px solid #666;font-size:0;line-height:0;}
.title-area .tit {float:left;color:#333;font-size:20px;line-height:30px;}
.title-area .tit em {display:inline-block;margin-left:5px;padding:0 0 0;font-style:normal;font-size:12px;line-height:18px;vertical-align:0}
.title-area .btnMore {position:absolute;bottom:10px;right:0;padding:0 15px 0 0;background:url(../image/comm/ico_arrow7x10.png) no-repeat 100% 50%;color:#666;font-size:14px;line-height:20px;vertical-align:top;}
.title-area .data {position:absolute;bottom:3px;right:0;padding:0 0 0 0;color:#777;font-size:12px;line-height:24px;}
.title-area .check {position:absolute;bottom:11px;right:0;padding:0 0 0 0;color:#777;font-size:12px;line-height:22px;}
.title-area .check label{font-size:12px;color:#999;font-weight:bold;vertical-align:top;}
.autoFull {overflow:hidden;width:1020px !important;margin:0 auto !important;}
.title-area .tit .iconq img{margin:5px 0 0 8px;}

.title-area2 {overflow:hidden;margin-top:30px;position:relative;width:100%;font-size:0;line-height:0;}
.title-area2 .tit {float:left;color:#333;font-size:20px;line-height:30px;}
.title-area2 .tit em {display:inline-block;margin-left:5px;padding:0 0 0;font-style:normal;font-size:12px;line-height:18px;vertical-align:0}
.title-area2 .btnMore {position:absolute;top:5px;right:0;padding:0 15px 0 0;background:url(../image/comm/ico_arrow7x10.png) no-repeat 100% 50%;color:#666;font-size:14px;line-height:20px;vertical-align:top;}

/* 스크롤 */
.scroll-w285 {overflow-y:auto;height:285px;}


/* placeholder */
.placeholder_area {position:relative;display:inline-block}
.placeholder_area > label {position:absolute;top:15px !important;left:21px !important;font-size:16px !important;color:#999 !important}

.placeholder_area.middle {height:50px}
.placeholder_area.middle > label {top:16px !important;font-size:14px !important}

/* ETC COMMON */
.mgLine {margin:0 !important;border-top:0 !important;}
.infoUpgr{background:#c0eeff url(../image/common/bnr_upgrade.gif) 50% 0 no-repeat;text-align:center}
.infoUpgr p{position:relative;width:1020px;height:200px;margin:0 auto}
.infoUpgr a{position:absolute;top:140px;width:47px;height:44px;color:transparent}
.infoUpgr .ie{left:394px}
.infoUpgr .cr{left:460px}
.infoUpgr .ff{left:520px}
.infoUpgr .op{left:582px}


.common-price {position:relative;}
.common-price.basket {margin-top:60px;}
.common-price .list {overflow:hidden;position:relative;border:1px solid #efefef;border-top:2px solid #babc00;background:url(../image/mypage/bg_conts_1xfull.html) repeat-y 0 0;}
.common-price.basket .list {background:url(../image/comm/bg_conts_1xfull.html) repeat-y 0 0;}

.common-price .list > li {float:left;width:262px;height:100%;padding:0 0 30px;font-size:0;text-align:center;line-height:0;}
.common-price .list > li:first-child {}
.common-price .list > li:last-child {width:261px;}
.common-price.basket .list > li {width:340px;}
.common-price.basket .list > li:last-child {width:338px;}
.common-price .list > li dl {overflow:hidden;height:95px;}
.common-price .list > li dl dt, .common-price .list > li dl dd {display:block;width:100%;vertical-align:top;}
.common-price .list > li dl dt {padding:36px 0 0;color:#666;font-size:16px;line-height:22px;}
.common-price .list > li dl dd {padding:9px 0 0;color:#f47330;font-size:24px;line-height:30px;}
.common-price .list > li:last-child dl dd {color:#ff2828;font-weight:bold;}
.common-price .list > li dl dd em {display:inline-block;font-style:normal;font-size:16px;line-height:22px;vertical-align:2px;letter-spacing:0;}
.common-price .list > li ul {padding:12px 0 0;}
.common-price .list > li ul li {overflow:hidden;padding:15px 20px 0;font-size:0;text-align:left;line-height:0;}
.common-price .list > li ul li .txt, .common-price .list > li ul li .won {color:#666;font-size:13px;line-height:15px;vertical-align:top;}
.common-price .list > li ul li .txt {float:left;padding:0 0 0 12px;background:url(../image/comm/ico_L7x7.png) no-repeat 0 3px;}
.common-price .list > li ul li .txt em {display:block;font-style:normal;font-size:12px;line-height:18px;}
.common-price .list > li ul li .link {display:inline-block;margin:0 0 0 8px;vertical-align:0;border-bottom:1px solid #9ea000;color:#9ea000;}
.common-price .list > li ul li .won {float:right;}
.common-price .list > li ul li .won input[type="text"] {position:relative;top:-5px;width:66px;height:24px;margin:0 5px 0 0;border:1px solid #e6e6e6;border-radius:0;background:#fff;vertical-align:top;color:#888;font-size:13px;padding:0 3px 0 0;text-align:right;}
.common-price .list > li ul li .won input[type="text"].inp {margin-right:0;border:0;background:transparent;}
.common-price .list > li ul li .won em {display:inline-block;font-style:normal;vertical-align:top;}
.common-price .list > li .minus, .common-price .list > li .sign {display:inline-block;position:absolute;top:53px;width:30px;height:30px;font-size:0;text-indent:-99999px;line-height:0;}
.common-price .list > li .minus {left:248px;background:url(../image/comm/ico_minus.html) no-repeat 0 0;}
.common-price .list > li .sign {right:245px;background:url(../image/comm/ico_sign.html) no-repeat 0 0;}
.common-price.basket .list > li .minus {left:324px;}
.common-price.basket .list > li .sign {right:324px;}
.common-price .list li ul li .txt .btnSmall {position:relative;top:-8px;width:70px;margin-left:10px;font-weight:normal;line-height:18px;}

.common-price .list li.nodata {display:none;}
.common-price .point-earn {padding:17px 20px 18px 0;border:1px solid #e6e6e6;border-top:0;color:#222;font-size:14px;line-height:18px;text-align:right;}
.common-price .point-earn em {display:inline-block;min-width:70px;padding-left:10px;color:#f47330;font-style:normal;}
.common-price .point-earn em {}

/* 카드할인 추가 2018-10-01 작업 홀딩 내용으로 주석처리 */
/*.main_card_banner {margin-top:41px;}
.main_card_banner .slick-dots {top:-39px;right:0;}*/

/* 정렬 2018-12-11 신예진님 추가 */
.alignCenter {text-align:center !important;}
.alignRight {text-align:right !important;}
.alignLeft {text-align:left !important;}

/* 고객부가정보 수집 */
.clrfix:after{content:'';display:block;clear:both;}

/* 상품평 개편 : 스크롤 */
.scrbar::-webkit-scrollbar-track {border-radius:3px;background-color:#f6f6f6}
.scrbar::-webkit-scrollbar {width:6px;border-radius:3px;background-color:#f6f6f6}
.scrbar::-webkit-scrollbar-thumb {border-radius:3px;background-color:#ccc}

/* STG 플래그 */
.stg_flag{position:fixed;top:10px;left:10px;}
.stg_flag>span{font-size:24px;color:#e02020;font-weight:700;opacity: 0.5;}

/* 2020-08-11 [개선] 드로어메뉴 */
#Gnb.gen1 .main_cate_wrap .sub_cate_list{padding:22px 0;}
#Gnb.gen1 .main_cate_wrap .sub_cate_list .theme-link{position:relative;margin:0 0 5px 0;padding:0 12px 2px 0;color:#f27370;font-size:14px;font-weight:bold;line-height:16px;background:url('../image/comm/ico_theme_arrow.png') no-repeat right 1px;background-size:9px auto;display:inline-block;}
#Gnb.gen1 .main_cate_wrap .sub_cate_list .theme-link:after{content:"";position:absolute;left:0;bottom:0;width:0;height:1px;background-color:#f27370;transition:.1s width;}
#Gnb.gen1 .main_cate_wrap .sub_cate_list .theme-link:hover:after{width:100%;}
#Gnb.gen1 .main_cate_wrap .sub_cate_list>li{padding-left:24px !important;}
/*
#Gnb.gen1 .main_cate_wrap .sub_cate_list>li .sub_menu{font-weight:normal !important;color:#333;padding-left:0 !important;}
#Gnb.gen1 .main_cate_wrap .sub_cate_list>li .sub_menu:after{content:"";position:absolute;left:0;bottom:5px;width:0;height:1px;background-color:#333;transition:.1s width;}
#Gnb.gen1 .main_cate_wrap.active .sub_cate_list>li.on .sub_menu{display:inline-block;font-weight:bold !important;background:none !important;color:#333 !important;padding-left:0 !important;}
#Gnb.gen1 .main_cate_wrap.active .sub_cate_list>li.on .sub_menu:hover:after{width:100%;}
*/
#Gnb.gen1 .main_cate_wrap .sub_cate_list>li .sub_menu{}
#Gnb.gen1 .main_cate_wrap .sub_cate_list>li .sub_menu:after{}
#Gnb.gen1 .main_cate_wrap.active .sub_cate_list>li.on .sub_menu{}
#Gnb.gen1 .main_cate_wrap.active .sub_cate_list>li.on .sub_menu:hover:after{}

#Gnb.gen1 .all_menu_wrap .sub_menu_box a{display:inline-block;border-bottom-color:rgba(0,0,0,0);}
#Gnb.gen1 .all_menu_wrap .sub_menu_box a:hover{border-bottom:solid 1px rgba(0,0,0,1);transition:all ease 0.3s;}
#Gnb.gen1 .all_menu_wrap .sub_menu_box .sub_depth a{position:relative;height:22px;padding-right:15px;padding-bottom:2px;font-weight:700;color:#000;background:url('../image/comm/arrow_12_21_02.png') no-repeat 100% 5px;background-size:5.5px;}
#Gnb.gen1 .all_menu_wrap .sub_menu_box .sub_depth a:after{content:"";position:absolute;left:0;bottom:0;width:0;height:1px;background-color:#000;transition:.1s width;}
#Gnb.gen1 .all_menu_wrap .sub_menu_box .sub_depth a:hover:after{width:100%;}
#Gnb.gen1 .all_menu_wrap .sub_menu_box>ul>li a{position:relative;height:20px;padding-bottom:2px;font-weight:700;font-size:13px;color:#888;}
#Gnb.gen1 .all_menu_wrap .sub_menu_box>ul>li a:after{content:"";position:absolute;left:0;bottom:0;width:0;height:1px;background-color:#000;transition:.1s width;}
#Gnb.gen1 .all_menu_wrap .sub_menu_box>ul>li a:hover{color:#333;border-bottom:solid 1px rgba(136,136,136,1);}
#Gnb.gen1 .all_menu_wrap .sub_menu_box>ul>li a:hover:after{width:100%;}

/* 어워즈관 상단 띠배너  */
.banUpperBox{overflow:hidden;position:relative;height:100px}
.banUpperBox .inner{position:relative;left:50%;width:2000px;margin-left:-1000px;padding:0}
.banUpperBox .inner .btn_upper_close{overflow:hidden;position:absolute;top:10px;left:50%;width:100px;height:80px;margin-left:421px;white-space:nowrap;line-height:9999px}
.banUpperBox .dimBan{position:absolute;top:0;left:0;width:0;height:80px;background-color:#cf000f;}
.banUpperBox .dimBan .in{position:absolute;top:0;left:0;width:0;height:80px;background-color:#fff;display:none;}
.banUpperBox+.dimBanWhite{position:absolute;top:80px;left:100%;width:100%;height:100%;background-color:#fff;z-index:500;display:none;}
.banUpperBox+.dimBanWhite .in{position:absolute;top:0;left:100%;width:100%;height:100%;background-color:#cf000f;z-index:500;display:none;}
.banUpperBox~.dimBanBlack{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;z-index:600;opacity:0;display:none;}

/* [3352803] 브랜드 좋아요 아이콘 및 logic 수정 요청 건 S */
.laytoast{display:none;position:fixed;top:50%;left:50%;width:130px;height:130px;margin:-65px 0 0 -65px;padding:0;border-radius:65px;z-index:15;background-color:#737373;}
.laytoast em{font-style:normal;}
.laytoast .inner{display:flex;display:-webkit-flex;width:100%;height:100%;align-items:center;}
.laytoast .inner .txt_recom{width:100%;padding-top:38px;font-size:13px;line-height:20px;color:#fff;font-weight:700;text-align:center;background:url(../image/comm/icon_brd_w_64.png) no-repeat 50% 0;background-size:32px auto}
.laytoast .inner .txt_recom em{font-size:15px;}
.laytoast.on{background-color:#f27370;}
.laytoast.on .inner .txt_recom{background:url(../image/comm/icon_brd_r_60.png) no-repeat 50% 0;background-size:30px auto}
/* [3352803] 브랜드 좋아요 아이콘 및 logic 수정 요청 건 E */

/* [3507003] (큐레이션) MO/PC 추천관 기능 개선 요청의 건 */
/* 상품 리스트 (썸네일형) */
.prod-list{font-size:0}
.prod-list > li{display:inline-block;margin-left:40px;/*margin-bottom:30px;*/width:215px;/* min-height:362px; */vertical-align: top}
.prod-list > li:nth-child(4n+1){margin-left:0}
.prod-list .prod{position:relative;}
.prod-list .thumb{display:table-cell;position:relative;width:215px;height:215px;vertical-align:middle;text-align:center;}
.prod-list .thumb:before{content:"";position: absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.03);}
.prod-list .thumb .status_flag{position: absolute; bottom: 0; left: 0; width: 100%; height: 40px;font-size:14px;font-weight: bold;text-align:center}
.prod-list .thumb .pic-thumb{width:auto;max-width:215px;height:auto;max-height:215px;}
.prod-list .prod-info{position:relative;padding:10px 5px 0;letter-spacing:0;}
.prod-list .prod-brand{line-height:17px}
.prod-list .prod-brand .exclusive{display:inline-block;font-size:13px;color:#9bce26;line-height:17px;vertical-align:top;}
.prod-list .prod-name {overflow:hidden;display:block;margin-top:9px;letter-spacing:-0.2px;max-height:36px;-webkit-box-orient:vertical;line-height:18px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;color:#000;font-size:14px;font-weight:400}
.prod-list .thumb .flagBest{display:block;position:absolute;top:5px;left:5px;width:46px;height:46px;padding:10px 0 0 0;txt-align:center;font-size:13px;color:#fff;line-height:15px;background-color:rgba(242,115,112,0.8);}
.prod-list .thumb .flagBest>em{display:block;font-style:normal;font-weight:700;}

.prod-list .discount{margin-top:4px;height:18px}
.prod-list .rate-of{font-size:14px;color:#e02020;margin-right:5px;}
.prod-list .origin{font-size:14px;color:#888;text-decoration: line-through}
.prod-list .price{margin-top:3px;height:24px;color:#000;font-weight:500}
.prod-list .price .total{font-size:20px;font-weight:500;}
.prod-list .price .total .won{font-size:18px;font-weight:700;vertical-align:1px;}
.prod-list .oneday{display:inline-block;margin-left:5px;padding-left:18px;font-size:12px;color:#e95294;background:url(../image/comm/icon_onedayX2.png) no-repeat left center;background-size:17px auto;vertical-align:1px}
.prod-list .rating{margin:7px 0 0;font-size:13px;line-height:14px;letter-spacing:0;}
.prod-list .point{padding-left:13px;color:#555;background:url('../image/brand/bul_star_24.png') no-repeat 0 50%;background-size:12px auto;}
.prod-list .point:empty{display:none;}
.prod-list .num{color:#888;margin-left:2px;font-weight:500;}
.planSwiperBox .prod-list .rating{display:none;}
.prod-list .flags{overflow:hidden;margin-top:6px}
.prod-list .flags.blank{display:none;}
.prod-list .flags:after{content:'';display:block;clear:both}
.prod-list .flag{float:left;margin-right:3px;padding:0 5px;font-size:12px;line-height:18px;border:1px solid #666;border-radius:2.5px; font-weight:500;}
.prod-list .flags .oneday{display:none}
.prod-list .flag.present,
.prod-list .flag.plus{color:#f7a341;border-color:#f7a341}
.prod-list .flag.sale{color:#f27370;border-color:#f27370}
.prod-list .flag.coupon{color:#9bce26;border-color:#9bce26}
.prod-list .flag.gift{color:#64c8f2;border-color:#64c8f2}
.prod-list .flag.free{color:#ad85ec;border-color:#ad85ec}
.prod-list .prod-func{position:absolute;top:7px;right:7px}
.prod-list .prod-func button{width:20px;height:20px;font-size:0;background-color:transparent}
.prod-list .favorite::before{content:'';display:inline-block;width:20px;height:20px;background:url(../image/brand/icon_wish_36.png) no-repeat center center;background-size:18px auto;}
.prod-list .favorite.on::before{background:url(../image/comm/icon_my_see2.png) no-repeat center center}
.prod-list .cart{margin-left:7px}
.prod-list .cart::before{content:'';display:inline-block;width:20px;height:20px;background:url(../image/brand/icon_sb_30.png) no-repeat center center;background-size:15px auto;}

.prod-list.v2{padding:24px 0 0;}
.prod-list.v2>li{position:relative;float:left;width:500px;margin:24px 0 0;padding-top:25px}
.prod-list.v2>li:nth-child(odd):before{position:absolute;top:0;left:0;width:1020px;height:1px;background:#ddd;content:''}
.prod-list.v2>li:first-child,
.prod-list.v2>li:nth-child(2){margin:0;padding:0}
.prod-list.v2>li:first-child:before{display:none}
.prod-list.v2>li:nth-child(even){width:520px;padding-left:20px}
.prod-list.v2 .thumb{width:500px;height:255px}
.prod-list.v2 .thumb .pic-thumb{max-width:500px;max-height:255px}

.prod-list.v1 .discount,
.prod-list.v2 .discount{display:none}
.prod-list.v1 .price,
.prod-list.v2 .price{margin-top:4px}
.prod-list.v1 .price .origin,
.prod-list.v2 .price .origin{margin-left:9px;font-size:17px;font-weight:400}

.prod-list.v3{padding:20px 0 0}
.prod-list.v3>li{float:left;width:326px}
.prod-list.v3>li+li{margin-left:21px}
.prod-list.v3 .thumb{width:326px;height:326px}
.prod-list.v3 .thumb .pic-thumb{max-width:326px;max-height:326px}
.prod-list.v3 .price .origin{display:none}

.prod-list.v2 .prod-func,
.prod-list.v3 .prod-func{top:9px;right:8px}

/* 상품 리스트 (리스트형)*/
.prod-list.list-type{padding:0}
.prod-list.list-type > li{display:block;margin:0;padding:20px 0 20px 43px;width:100%;min-height:inherit;height: 215px;border-bottom:1px solid #ddd}
.prod-list.list-type .prod{display:table;table-layout:fixed;width:100%}
.prod-list.list-type .thumb{display:table-cell;width:175px;height:175px;vertical-align: middle}
.prod-list.list-type .thumb .pic-thumb{width:auto;max-width:175px;height:auto;max-height:175px}
.prod-list.list-type .prod-info{position:relative;display:table-cell;padding-left:30px;padding-right:0;width:717px;vertical-align: middle}
.prod-list.list-type .flags .oneday{display:inline-block}
.prod-list.list-type .prod-name{margin-top:6px;width:290px}
.prod-list.list-type .price-info{position:absolute;top:88px;margin-top:-23px;left:377px;width:175px;height:47px;text-align:center;z-index:1}
.prod-list.list-type .price-info .discount{margin-top:0;}
.prod-list.list-type .price-info .price{margin-top:5px}
.prod-list.list-type .rating{display:none;}
.prod-list.list-type .price-info .oneday{display:none}
.prod-list.list-type .prod-func{display:table-cell;position:relative;top:inherit;right:inherit;vertical-align:middle}
.prod-list.list-type .prod-func button{display:block;width:85px;height:40px;font-size:14px;font-weight:700;color:#000;background-color:#fff;border:1px solid #555}
.prod-list.list-type .prod-func button::before{margin:8px 3px 0 0;vertical-align:top;}
.prod-list.list-type .prod-func button>span{line-height:38px;}
.prod-list.list-type .cart{margin:5px 0 0}
.prod-list .rating_type{display:none;}
.prod-list.list-type .rating_type{display:block;position:absolute;top:50%;left:185px;width:130px;margin-top:-7px;}
.prod-list.list-type .rating_type .rating_point{float:left;width:78px;height:14px;background:url('../image/comm/ico_review_point2.png') no-repeat 0 0;}
.prod-list.list-type .rating_type .rating_point.star1{background-position:0 -14px;}
.prod-list.list-type .rating_type .rating_point.star2{background-position:0 -28px;}
.prod-list.list-type .rating_type .rating_point.star3{background-position:0 -42px;}
.prod-list.list-type .rating_type .rating_point.star4{background-position:0 -56px;}
.prod-list.list-type .rating_type .rating_point.star5{background-position:0 -70px;}
.prod-list.list-type .rating_type span{float:left;margin-left:5px;font-size:14px;color:#aaa;line-height:14px;}
/* //[3507003] (큐레이션) MO/PC 추천관 기능 개선 요청의 건 */

/* 20211116 주문/결제 로딩피스너 추가 */
#Container .loading_wrap {position:absolute; top:50%; left:50%; width:300px; height:300px; margin:-150px 0 0 -150px; overflow:hidden;}
#Container .loading_wrap .common_loading {width:35px; height:35px; background:url('../image/common/img_loading_new.png') 0 0 no-repeat; background-size:35px 35px; -webkit-animation:loading_spin 3.0s infinite linear; animation:loading_spin 3.0s infinite linear; margin:0 auto; overflow:hidden;}
#Container .loading_wrap p {font-size:20px; color:#131518; line-height:24px; font-weight:700; text-align:center; margin-top:40px; overflow:hidden;}
#Container .loading_wrap span {display:block; font-size:14px; color:#757d86; line-height:18px; font-weight:400; text-align:center; margin-top:10px; overflow:hidden;}

/* Keyframes */
@-webkit-keyframes loading_spin { 0% {transform:rotate(360deg);}
	100% {transform:rotate(0deg);} }