nav {
  font-family: 'lato', sans-serif;
  background-color: var(--color-primary-opacity4);
}

nav .navigation-desktop {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 var(--spacing-s);
}

nav img {
  width: 170px;
  cursor: pointer;
}

.menu {
  display: flex;
  margin-left: var(--spacing-l);
}

.menu li {
  font-weight: 500;
  font-size: var(--fontsize-s);
  letter-spacing: 0.2px;
  margin-right: var(--spacing-xl);
  display: inline-block;
  position: relative;
  color: var(--color-black);
}

.user {
  display: flex;
}

.user .register{
	display: flex;
}

.user input {
  background-color: transparent;
  border: none;
  border-width: 1px;
  border-bottom: 1px solid var(--color-black);
}

.navigation-desktop .user li:first-child {
  display: inline-block;
  position: relative;
}


.navigation-desktop .user button {
  background-color: transparent;
}

.navigation-desktop .user li {
  margin-left: var(--spacing-xs);
}

.navigation .container .menu li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--color-black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navigation .container .menu li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* mobile nav */
.mobile-nav-header {
  display: none;
  z-index: -999;
}

.mobile-nav-header .logo {
  text-align: center;
  padding-top: 20px;
}

.mobile-nav-header button {
  background-color: transparent;
  font-size: var(--fontsize-ml);
  position: absolute;
  left: 10px;
  top: 20px;
}

.mobile-nav-header li:nth-child(2) {
  justify-content: center;
}

.mobile-nav {
  transform: translate(-370px);
  height: 100vh;
  top: 0;
  background-color: var(--color-primary);
  position: fixed;
  z-index: 999;
  overflow-y: auto;
  transition: all 0.25s ease-in-out;
}

.mobile-nav button {
  background-color: transparent;
}

.mobile-nav .fa-times {
  font-size: var(--fontsize-m);
}

.mobile-nav input {
  background-color: transparent;
  border: none;
  border-width: 1px;
  border-bottom: 1px solid var(--color-black);
  padding: var(--spacing-xs);
  font-size: var(--fontsize-m);
  font-weight: 600;
}

.mobile-nav input::placeholder {
  color: var(--color-lightgray);
  font-weight: 400;
}

.mobile-nav-top {
  display: flex;
  margin-top: var(--spacing-l);
  justify-content: space-between;
  padding: 0 var(--spacing-l);
}

.mobile-nav .menu {
  flex-direction: column;
}

.mobile-nav .menu li {
  margin-top: var(--spacing-l);
  font-size: var(--fontsize-ml);
}

.mobile-nav .account {
  padding: 0 var(--spacing-l);
  margin-top: var(--spacing-xxl);
  font-size: var(--fontsize-ml);
}

.mobile-nav .menu li:hover {
  opacity: 60%;
}

.hide {
  display: none;
}
