<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.olive.mvc.mapper.product.ProductMapper">

	<resultMap id="subCate" type="subCategory">
	<id property="questionNum" column="question_num" javaType="long"/>
	<result property="questionTitle" column="question_title"/>
	<result property="questionContent" column="question_content"/>
	<result property="questionDate" column="question_date"/>
	<result property="viewCheck" column="view_check"/>
	<association property="writer" column="member_num" javaType="member" resultMap="memberResult"></association>
	</resultMap>
	
	<resultMap id="memberResult" type="member">
	<id property="memberNum" column="member_num"/>
	<result property="memberId" column="member_id"/>
	<result property="pw" column="pw"/>
	<result property="memberName" column="member_name"/>
	<result property="email" column="email"/>
	<result property="phone" column="phone"/>
	<result property="birthday" column="birthday"/>
	<result property="gender" column="gender"/>
	<result property="address" column="address"/>
	<result property="regdate" column="regdate"/>
	<result property="tpa" column="tpa"/>
	<result property="level" column="level"/>
	</resultMap>
	<!-- 상품 전체보기 -->
	<select id="selectAllProduct" resultType="product">
		select * from product
	</select>

	<!-- 상품 상세보기 -->
	<select id="selectOneProduct" resultType="product">
		select p.main_cate_id,
		p.product_name, p.product_price, p.product_info,
		b.brand_num,
		b.brand_name, b.seller_id
		from product p join brand b
		on p.brand_num =
		b.brand_num
		where p.product_id = #{productId};
	</select>


	<!-- 카테고리별 상품 보기 -->
	<!-- <select id="selectByMainCate" resultType="product"> select b.brand_name, 
		p.product_name, p.product_price from main_category m, product p, brand b 
		where m.main_cate_id = p.main_cate_id and p.brand_num = b.brand_num and m.main_cate_id 
		= #{mainCateId}; </select> -->

	<!-- 메인 카테고리별 상품 보기 -->
	<select id="selectByMain" resultType="product">
		select p.* from product p,
		sub_category s
		where p.sub_cate_id = s.sub_cate_id
		and s.main_cate_id =
		#{mainCateId}
	</select>


	<!-- 서브 카테고리별 상품 보기 -->
	<select id="selectbySub" resultType="product">
		select p.* from product p,
		sub_category s, main_category m
		where p.sub_cate_id = s.sub_cate_id
		and
		s.main_cate_id = m.main_cate_id
		and p.sub_cate_id = #{subCateId}
	</select>

	<!-- 1220 -->
	<!-- main에 카테고리 붙여주기 -->
	<select id="selectAllFromCate" resultType="subCategory">
		select s.sub_cate_id,
		s.sub_cate_name, s.main_cate_id, m.main_cate_name
		from sub_category s,
		main_category m
		where s.main_cate_id = m.main_cate_id
	</select>

	<!-- sub category : main category -->
	<select id="[1] : selectArtistByPrimaryKey" resultMap="artistResultMap"
		parameterType="java.lang.Long">
		select
		seq, name, debut_date
		from
		artists
		where
		seq = #{seq, jdbcType=BIGINT}
	</select>

</mapper>