<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.olive.mvc.mapper.product.SellerMapper">
 
 <!-- <resultMap id="productad" type="product">
		<id property="productId" column="product_id" javaType="int" />
		<result property="brandName" column="brand_num" />
		<result property="productName" column="product_name" />
		<result property="productPrice" column="product_price" />
		<result property="productInfo" column="product_info" />
		<result property="colorId" column="color_id" />
		<result property="subCateId" column="sub_cate_id" />
		<association property="seller"
			column="seller_id" javaType="brand" resultMap="brandseller"></association>
	</resultMap>


	<resultMap id="brandseller" type="brand">
		<id property="brandNum" column="brand_num" />
		<result property="sellerId" column="seller_id" />
	</resultMap> -->
	
	
	<!-- 셀러 안녕하세요-->
	<select id="selectSubCate" resultType="subCategory">
		select * from sub_category
	</select>
	
	<!-- 셀러 로그인  -->
	<select id="selectSeller" resultType="brand">
		select * from brand where
		seller_id = #{sellerId}
	</select>

	<!-- 셀러별 상품 목록  -->
	<select id="selectProdBySeller" resultType="product">
		<!-- select p.*, b.brand_name, o.file_name from product p, brand b, olivefile o
		where p.brand_num = b.brand_num
        and o.product_id = p.product_id
		and b.seller_id = #{sellerId} -->
		select p.*, b.brand_name from product p, brand b
		where p.brand_num = b.brand_num
		and b.seller_id = #{sellerId}
	</select>
	
	<!-- 셀러 상품 인서트 -->
	<insert id="insertProduct">
		insert into product(brand_num, sub_cate_id, product_name, product_price, product_info)
		values(#{brandNum}, #{subCateId}, #{productName}, #{productPrice}, #{productInfo})
	</insert>
	
	<!-- 셀러 파일 인서트 -->
	<insert id="insertProductFile">
		 INSERT INTO olivefile (
            file_name
            , product_id
        ) VALUES (
            #{savedFilePath}
            , LAST_INSERT_ID()
        )
	</insert>

	<!-- 상품 삭제 -->
	<delete id="deleteProd">
		<!-- delete from product where product_id = #{productId} -->
		DELETE FROM p, ol USING product AS p 
		LEFT JOIN olivefile AS ol ON p.product_id = ol.product_id
		WHERE p.product_id = #{productId}
	</delete>







</mapper>